@import './variables.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.pan-btn {
  font-size: var(--font-size-sm);
  color: var(--color-white);
  padding: var(--spacing-sm) var(--spacing-xl);
  border-radius: var(--radius-md);
  border: none;
  outline: none;
  transition: var(--transition-base);
  position: relative;
  display: inline-block;

  &:hover {
    background: var(--color-white);
    transform: scale(1.03);

    &:before,
    &:after {
      width: 100%;
      transition: var(--transition-base);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: var(--transition-fast);
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: var(--line-height-normal);
  white-space: nowrap;
  cursor: pointer;
  background: var(--color-bg-secondary);
  color: var(--color-text);
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-sm);
  transition: background-color var(--transition-fast), color var(--transition-fast), transform var(--transition-fast);

  &:hover {
    transform: scale(1.03);
  }
}
