@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: var(--color-bg);
  padding: var(--spacing-sm) var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  border-radius: var(--radius-sm);
  display: block;
  line-height: 32px;
  font-size: var(--font-size-base);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color var(--transition-base), color var(--transition-base);

  a {
    color: var(--color-accent);
    cursor: pointer;
    transition: color var(--transition-fast);

    &:hover {
      color: var(--color-accent-hover);
    }
  }
}

.app-container {
  padding: var(--spacing-md);
}

.components-container {
  margin: var(--spacing-xl) var(--spacing-2xl);
  position: relative;
}

.pagination-container {
  margin-top: var(--spacing-xl);
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: var(--spacing-md);
  transition: background var(--transition-base), transform var(--transition-base);
  background: var(--gradient-primary);

  .subtitle {
    font-size: var(--font-size-xl);
    color: var(--color-white);
    transition: color var(--transition-base);
  }

  &:hover {
    transform: translateY(-2px);
  }

  &.draft {
    background: var(--color-text-tertiary);
  }

  &.deleted {
    background: var(--color-text-tertiary);
  }
}

.link-type,
.link-type:focus {
  color: var(--color-accent);
  cursor: pointer;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-accent-hover);
  }
}

.filter-container {
  padding-bottom: var(--spacing-sm);

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: var(--spacing-sm);
    transition: transform var(--transition-fast);

    &:hover {
      transform: translateY(-2px);
    }
  }
}

button:not(.el-button--text):not(.el-button--info):not(.el-button--success):not(.el-button--warning):not(.el-button--danger),
.el-button:not(.el-button--text):not(.el-button--info):not(.el-button--success):not(.el-button--warning):not(.el-button--danger) {
  transition: transform var(--transition-fast), opacity var(--transition-fast), background-color var(--transition-fast), border-color var(--transition-fast), color var(--transition-fast);

  &:hover:not(:disabled) {
    transform: scale(1.03);
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}

.el-card,
.el-card__body {
  transition: transform var(--transition-base), box-shadow var(--transition-base), opacity var(--transition-base);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
  }
}

img:not(.el-image__inner):not(.el-avatar__img) {
  transition: transform var(--transition-base), opacity var(--transition-base);

  &:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }
}

.el-image {
  transition: transform var(--transition-base), opacity var(--transition-base);

  &:hover {
    transform: scale(1.02);
  }

  img {
    transition: transform var(--transition-base), opacity var(--transition-base);
  }
}
