.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--transition-base);
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-transform--move,
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all var(--transition-slow);
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all var(--transition-slow);
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all var(--transition-slow);
}

.breadcrumb-leave-active {
  position: absolute;
}
